<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Todo memo</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div id="app" class="container">
    <h1>
      Todo 一覧
      <span class="info">({{ remaining.length }}/{{ todos.length }})</span>
    </h1>
    <ul class="todo-list">
      <li v-for="(todo, index) in todos" :class="{completed: todo.completed, editing: todo == editedTodo}">
    <div class="view">
        <input type="checkbox" v-model="todo.isDone">
        <lavel :class="{done: todo.isDone}" @dblclick="editTodo(todo)">{{ todo.title }}</lavel>
        <span @click="editTodo(todo)" class="command"> [編集] </span>
        <span @click="deleteItem(index)" class="command"> [削除] </span>
      </div>
        <input class="edit" type="text" 
        v-model="todo.title"
        @keypress.enter="doneEdit(todo)"
        @keyup.esc="cancelEdit(todo)"
        @blur="doneEdit(todo)"
        v-todo-focus="todo == editedTodo">
      </li>
      <li v-show="!todos.length">Todoは一つもありません！</li>
    </ul>
    <form @submit.prevent="addItem">
      <input type="text" v-model="newItem">
      <input type="submit" value="追加">
    </form>
  </div>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="main.js"></script>
</body>
</html>
